<?php
$this->headTitle('renew password');
?>
<div class="row">
    <h3>Renew Password</h3>
    <div class="col-md-4 col-sm-12">
        <form method="post" action="">
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" id="passwd" class="form-control" name="passwd">
            </div>
            <br>
            <div class="form-group">
                <label for="passwd_confirm">Password confirm</label>
                <input type="password" id="passwd_confirm" class="form-control" name="passwd_confirm">
            </div>
            <br>
            <button type="submit" class="btn btn-default">speichern</button>
        </form>
    </div>
</div>
